@namespace Havit.Blazor.Components.Web.Bootstrap

@if (opened)
{
	<div @ref="modalElement"
		id="@id"
		 class="@CssClassHelper.Combine("hx-modal modal", this.AnimatedEffective ? "fade" : null, this.CssClassEffective)"
		 tabindex="-1"
		 data-bs-backdrop="@GetBackdropSetupValue(BackdropEffective)">

		<div class="@CssClassHelper.Combine("modal-dialog", GetDialogSizeCssClass(), GetDialogFullscreenCssClass(), GetDialogScrollableCssClass(), GetDialogCenteredCssClass(), this.DialogCssClassEffective)">
			<div class="@CssClassHelper.Combine("modal-content", this.ContentCssClassEffective)">
				@if (!ControlsAtBottom && (!String.IsNullOrEmpty(Title) || ShowCloseButtonEffective || CommandsTemplate != null) || (HeaderTemplate != null))
				{
					<div class="@CssClassHelper.Combine("modal-header", this.HeaderCssClassEffective)">
						@if (!String.IsNullOrEmpty(Title) && !ControlsAtBottom)
						{
							<h5 class="modal-title">@Title</h5>
						}
						@if (HeaderTemplate != null)
						{
							@HeaderTemplate
						}
						@if (CommandsTemplate != null && !ControlsAtBottom)
						{
							@CommandsTemplate
						}
						@if (ShowCloseButtonEffective && !ControlsAtBottom)
						{
							if (CloseButtonIconEffective is null)
							{
								<button type="button" class="btn-close text-reset" data-bs-dismiss="modal" aria-label="Close"></button>
							}
							else
							{
								<div role="button" data-bs-dismiss="modal" aria-label="Close"><HxIcon Icon="CloseButtonIconEffective" /></div>
							}
						}
					</div>
				}
				@if (BodyTemplate != null)
				{
					<div class="@CssClassHelper.Combine("modal-body", this.BodyCssClassEffective)">
						@BodyTemplate
					</div>
				}
				@if (ControlsAtBottom && (!String.IsNullOrEmpty(Title) || ShowCloseButtonEffective || CommandsTemplate != null) || (FooterTemplate != null))
				{
					<div class="@CssClassHelper.Combine("modal-footer", this.FooterCssClassEffective)">
						@if (!String.IsNullOrEmpty(Title) && ControlsAtBottom)
						{
							<h5 class="modal-title">@Title</h5>
						}
						@if (FooterTemplate != null)
						{
							@FooterTemplate
						}
						@if (CommandsTemplate != null && ControlsAtBottom)
						{
							@CommandsTemplate
						}
						@if (ShowCloseButtonEffective && ControlsAtBottom)
						{
							if (CloseButtonIconEffective is null)
							{
								<button type="button" class="btn-close text-reset ms-auto" data-bs-dismiss="modal" aria-label="Close"></button>
							}
							else
							{
								<div role="button" class="ms-auto" data-bs-dismiss="modal" aria-label="Close"><HxIcon Icon="CloseButtonIconEffective" /></div>
							}
						}
					</div>
				}
			</div>
		</div>
	</div>
}